
  html {
  background: #000;
  font: normal 1em/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
  text-align: center;
  height: 100%;
  margin:0;
}

body {
  height: 100%;
  margin:0;
  padding: 0;
  outline: 0;
}

#video-viewport {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
 }
video {
  width: 100%;
  height: 100%;
  -webkit-transform:  scalex(1.1);
  -moz-transform:  scalex(1.1);
  -ms-transform:  scalex(1.1);
}


.fullsize-video-bg {
 height: 100%;
 overflow: hidden;
}
.image{
  position: fixed;
  display: block;
}
#frame{
   -webkit-transform:  scaleY(1.3);
min-height: 650px;
width: 100%;
height: 100%;

}
.space{
  margin: auto;
  width: 100%;
  position:absolute;
  z-index: 10;
  height: 1213px;
}
.space img{
  width: 200px;
  height: 200px;
}
div.control1 {
  font-size:20px;
  font-weight: bold;
    position: absolute;
    background: orange;
    border: 1px solid black;
    padding: 10px;
    width: 200px;
    text-align: center;
    right: 10px;
}
div.control2 {
  margin-left:100px;;
  width: 300px;
  height: 200px;

}
  p{
    padding: 0;
    font-size: 20px;
    margin-top:-1px;
    color:white;
    text-align: left;

  }

h2{
  padding:0;
  margin: 0;
  color:white;
  font-size: 45px;
    font-weight: 400;
    font-family: Helvetica;
    line-height: 1.42857;
    text-rendering: optimizeLegibility;
}
